@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff9ec;
  --foreground: #212121;
  --primary: #6442ef;
  --secondary: #ddd5fb;
}

html,
body {
  color: var(--foreground);
  background: var(--background) url("/bg.svg") bottom center no-repeat;
  background-size: cover;
  font-family: "Euclid Circular B", sans-serif;
}
body {
  min-height: 100dvh;
  min-width: 100vw;
}

.loading {
  width: 48px;
  height: 48px;
  border: 5px solid var(--foreground);
  opacity: 0.5;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
